@using PagedList.Mvc;
@using LowFlightFare.Localization
@using LowFlightFare.ViewModels

@model ResultsViewModel

<h2>@Labels.SearchResults</h2>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="results-tableheader">
            <tr>
                <th>
                    <span>@Labels.Origin</span>
                </th>
                <th>
                    <span>@Labels.Destination</span>
                </th>
                <th>
                    <span>@Labels.DepartureDate</span>
                </th>
                <th>
                    <span>@Labels.NumberOfInterchanges</span>
                </th>
                <th>
                    <span>@Labels.PassangerNumber</span>
                </th>
                <th>
                    <span>@Labels.TotalPrice</span>
                </th>
                <th>
                    <span>@Labels.Currency</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SearchResults)
            {
                <tr>
                    <td colspan="4" class="inbound-outbound-header">
                        @Labels.OutboundFlight
                    </td>
                    <td rowspan="4" class="results-td-shared-values">
                        <span class="results-span-shared-values"> @item.PassangerNumber </span>
                    </td>
                    <td rowspan="4" class="results-td-shared-values">
                        <span class="results-span-shared-values"> @item.Price </span>
                    </td>
                    <td rowspan="4" class="results-td-shared-values">
                        <span class="results-span-shared-values"> @item.Currency </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        @item.From_Outbound
                    </td>
                    <td>
                        @item.To_Outbound
                    </td>
                    <td>
                        @item.Depart.Replace('T', ' ')
                    </td>
                    <td>
                        @item.OutboundInterchanges
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="inbound-outbound-header">
                        @Labels.InboundFlight
                    </td>
                </tr>
                <tr>
                    <td>
                        @item.From_Inbound
                    </td>
                    <td>
                        @item.To_Inbound
                    </td>
                    <td>
                        @item.Return.Replace('T', ' ')
                    </td>
                    <td>
                        @item.ReturnInterchanges
                    </td>
                </tr>
                <tr>
                    <td colspan="7" class="separate-flights">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />

@Labels.Page @(Model.SearchResults.PageCount < Model.SearchResults.PageNumber ? 0 : Model.SearchResults.PageNumber) / @Model.SearchResults.PageCount

@Html.PagedListPager(Model.SearchResults, pageNumber => Url.Action("Results", new { pageNumber, searchParametersID = Model.SearchResults.First().SearchParametersID })) 