@model LowFlightFare.ViewModels.SearchFlightsViewModel

<h2>SearchFlights</h2>
<hr />

@using (Html.BeginForm("SearchFlights", "SearchFlights", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group col-sm-3">
        @Html.LabelFor(m => m.SearchParameters.From_IATA_code)
        @Html.TextBoxFor(m => m.SearchParameters.From_IATA_code, "", htmlAttributes: new { @class = "form-control", id = "from_IATA_code_TB", required = "required" })
        <ul id="from_IATA_code_UL" class="airport-iata-code-list">
        </ul>
        @Html.LabelFor(m => m.SearchParameters.To_IATA_code)
        @Html.TextBoxFor(m => m.SearchParameters.To_IATA_code, "", htmlAttributes: new { @class = "form-control", id = "to_IATA_code_TB", required = "required" })
        <ul id="to_IATA_code_UL" class="airport-iata-code-list">
        </ul>
    </div>

    <div class="form-group col-sm-3">
        @Html.LabelFor(m => m.SearchParameters.Depart)
        @Html.TextBoxFor(m => m.SearchParameters.Depart, "", htmlAttributes: new { @class = "form-control datepicker", required = "required", id = "datepicker-depart" })
        @Html.LabelFor(m => m.SearchParameters.Return)
        @Html.TextBoxFor(m => m.SearchParameters.Return, "", htmlAttributes: new { @class = "form-control datepicker", id = "datepicker-return" })
    </div>

    <div class="form-group col-sm-3">
        @Html.LabelFor(m => m.SearchParameters.PassangerNumber)
        @Html.TextBoxFor(m => m.SearchParameters.PassangerNumber, "", htmlAttributes: new { @class = "form-control" })
        @Html.LabelFor(m => m.SearchParameters.CurrencyID)
        @Html.DropDownListFor(m => m.SearchParameters.CurrencyID, new SelectList(Model.Currency, "ID", "CurrencyCode"), new { @class = "form-control" })
    </div>

    <div class="custom-div-button">
        <input type="submit" value="Search" class="form-control btn btn-primary" />
    </div>

}

